.title {
  padding: 13px;
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 1px;
}

.today_date {
  font-size: 14px;
  margin-left: 10px;
  transform: translateY(2px);
  letter-spacing: 0;
}
