.create_task_page_header_area {
  margin-top: 5px;
}

.create_task_page_main_area {
  margin-top: 17px;
  margin-right: 10px;
}

.button_area {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.create_task_button {
  padding: 15px 20px;
  border: 1px solid rgb(132, 132, 132);
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
}
