.button {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.button_icon_area {
  flex: 1;
  position: relative;
}

.button_icon {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 1;
}

.button_text {
  flex: auto;
}
