.task_item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: rgb(90, 90, 90);
}

.task_item_area {
  flex: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: rgb(232, 232, 232);
  border-radius: 5px;
  font-size: 15px;
  position: relative;
}

.task_id {
  width: 20px;
  text-align: center;
  margin-right: 20px;
}

.task_title {
  flex: auto;
}

.task_type {
  width: 200px;
  text-align: center;
}

.task_start_date {
  width: 120px;
  text-align: center;
}

.task_complete {
  width: 110px;
  position: relative;
  text-align: center;
}

.task_complete_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  line-height: 1;
}
