.task_item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  color: rgb(90, 90, 90);
}

.task_item_area {
  flex: auto;
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 5px;
  font-size: 15px;
  position: relative;
  background-color: rgb(232, 232, 232);
}

.task_item_area_dragging {
  background-color: rgb(192, 192, 192);
  box-shadow: 5px 5px 10px rgb(129, 129, 129);
}

.task_item_area_hover:hover {
  color: white;
  background: #b0beb2;
}

.task_complete {
  width: 110px;
  position: relative;
  text-align: center;
}

.task_complete_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 23px;
  line-height: 1;
}
