.update_date_area {
  position: relative;
}

.date_picker {
  width: 200px;
  height: 200px;
  background-color: red;
}

#update_date_modal {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 240px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.update_date_modal_header {
  flex: 1;
}

.update_date_modal_body {
  flex: 5;
}

.update_date_modal_footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex: 1;
}

button {
  padding: 15px 25px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}

.cancel_button {
  border: 2px solid #c5c5c5;
  color: #797979;
}

.update_button {
  background-color: #4f46e5;
  color: white;
}

.calendar_wrapper {
  position: absolute;
  bottom: -260px;
  left: 250px;
  z-index: 1000;
}
