.task_page_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  border-radius: 10px;
  margin-right: 10px;
  background-color: #373737;
}

.button_area {
  width: 160px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-radius: 10px;
}

.button_icon {
  width: 40px;
  height: 40px;
}

.task_page_body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.left {
  flex: 2;
  min-width: 0;
  border-right: 2px solid #e5e5e5;
  padding-right: 20px;
}

.right {
  flex: 1;
  min-width: 0;
  overflow-y: auto;
  padding-left: 20px;
}
