.navigator_item {
  padding: 8px 8px 8px 12px;
  margin-bottom: 5px;
}

.navigator_item:hover {
  background-color: #d3d3d3;
  border-radius: 5px;
}

#navigator_area {
  margin-top: 15px;
  width: auto;
}

#nav_main_text {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 5px;
}
