.task_list_header {
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
}

.task_title_col {
  flex: auto;
}

.task_type_col {
  width: 200px;
  text-align: center;
}

.task_start_date_col {
  width: 120px;
  text-align: center;
}

.task_complete_col {
  width: 110px;
  text-align: center;
}

.task_scroll_col {
  width: 20px;
}

.task_list_body {
  padding: 0 3px 0 0;
  overflow-y: auto;
  height: 78vh;

  scrollbar-color: rgba(0, 0, 0, 0.25) transparent;
  scrollbar-gutter: stable;
}

/* editing 상태일 때만 덮어쓰기 */
.task_list_body.isEditing {
  height: 74vh;
}

.no_tasks {
  margin-top: 30px;
  text-align: center;
  font-size: 32px;
}
